.projects-page {
    flex-direction: column;
    padding-top: 10px;
    padding-left: 0;

    a {
        width: 80%;
        margin-left: 70px;
    }

    h1.page-title {
        width:fit-content;
        text-align: center;
        position: relative;
        
        &::before{
            content: '<h1>';
            font-family: 'La Belle Aurore', cursive;
            color: #affd77;
            font-size: 18px;
            position: absolute;
            margin-top: -10px;
            left: -10px;
            opacity: 0.6;
            line-height: 18px;
        }
        &::after{
            content: '<h1/>';
            font-family: 'La Belle Aurore', cursive;
            color: #affd77;
            font-size: 18px;
            line-height: 18px;
            position: absolute;
            left: -30px;
            bottom: -20px;
            margin-left: 20px;
            opacity: 0.6;
        }
    }

    .project-page-content {
        width: 100%;
    }

    .images-container {
        display: grid;
        grid-template-columns: repeat(auto-fill , minmax(300px, 1fr));
        row-gap: 40px;
    }

    .image-box {
        position: relative;
        flex: 1 1 20%;
        height: 400px;
        overflow: hidden;
        border-radius: 10px;

        .project-image {
            position: absolute;
            z-index: 2;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .img-content {
            position: absolute;
            width: 100%;
            z-index: 3;
            padding: 10px 20px;
            transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
            background: linear-gradient(
                180deg,
                rgba(0, 0, 0, 0.5) 0,
                rgba(0, 0, 0, 1)
            );
            bottom: -80px;
        }
        .title {
            margin-bottom: 0;
            margin-top: 0;
            color: #fff;
            font-size: 24px;
            font-weight: 500;
            line-height: 24px;
        }

        .description {
            margin-top: 10px;
            font-size: 14px;
            margin-bottom: 5px;
            color: #fff;
            font-weight: 700;
        }


        &:after {
            content: "";
            background: linear-gradient(180deg, #3c6e17, #000);
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
            transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
            opacity: 0;
        }

        &:hover:after {
            opacity: 0.8;
        }

        &:hover .img-content {
            bottom: 0px;
        }
    }
}

@media (min-width : 768px) {
    h1.page-title{
        left: -200px;
    }
}
@media (min-width : 992px) {
    h1.page-title{
        left: -300px;
    }
}
@media (min-width : 1200px) {
    h1.page-title{
        left: -400px;
    }
}