.text-animate {
    display: inline-block;
    opacity: 0;
    animation: bounceIn 1s 1s forwards;
    min-width: 10px;

}
.text-animate-hover {
    min-width: 10px;
    display: inline-block;
    -moz-animation-fill-mode:both;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both;
    &:hover{
        animation: rubberBand 1s;
        color: #affd77;
    }

}

@for $i from 1 through 35 {
    .text-animate._#{$i} {
        animation-delay: #{$i/10}s;
    }
}