.skills-page {
    display: block;
    padding: 0;
    .skills-c {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        .text-zone {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            
            h1 {
                margin-bottom: 10%;
            }
            p {
                font-weight: bold;
                width: 75%;
                font-size: 15px;
                .tec {
                    color: #affd77;
                }
            }
        }
    }
}

@media (max-width:600px) {
    p{
        width: 100%;
        margin-left: 20px;
    }
  }
  @media (min-width : 768px) {
    h1.title{
        left: -200px;
    }
}
@media (min-width : 992px) {
    h1.title{
        left: -300px;
    }
}
@media (min-width : 1200px) {
    h1.title{
        left: -400px;
    }
}